# This notebook is used to clean data and add additional column for days a dog has been available for adoption.

In [1]:
# Dependencies
import pandas as pd
from datetime import datetime, date, time

In [2]:
# read in CSV
dogs_df = pd.read_csv('../data_collection/data_output/georgia_dogs.csv')

In [3]:
# preview dataframe
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current
0,54858447,Boon,adoptable,2022-03-04T18:10:57+0000,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False
1,54802620,CASPER,adoptable,2022-03-01T19:01:22+0000,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False
2,55368350,Giacomo (in foster),adoptable,2022-04-22T00:06:14+0000,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False
3,55179362,Loki,adoptable,2022-04-01T16:52:47+0000,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True
4,55331643,QUEEN,adoptable,2022-04-18T16:56:32+0000,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False

In [4]:
# Set option to display all rows
pd.set_option('display.max_rows', None)

In [5]:
# Set all names to be capitalized properly
dogs_df['Name'] = dogs_df['Name'].str.lower().str.title()

In [6]:
# Show data types of each column
dogs_df.dtypes

Pet ID                 int64
Name                  object
Status                object
Publish Date          object
Organization ID       object
City                  object
State                 object
Breed                 object
Age                   object
Gender                object
Size                  object
Coat                  object
Spayed or Neutered      bool
House Trained           bool
Special Needs           bool
Shots Current           bool
dtype: object

In [7]:
# Convert Publish Date Column to datetime objects
dogs_df['Publish Date'] = pd.to_datetime(dogs_df['Publish Date'], format="%Y/%m/%d", errors = 'coerce')

In [8]:
# Display DataFrame
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current
0,54858447,Boon,adoptable,2022-03-04 18:10:57+00:00,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False
1,54802620,Casper,adoptable,2022-03-01 19:01:22+00:00,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False
2,55368350,Giacomo (In Foster),adoptable,2022-04-22 00:06:14+00:00,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False
3,55179362,Loki,adoptable,2022-04-01 16:52:47+00:00,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True
4,55331643,Queen,adoptable,2022-04-18 16:56:32+00:00,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False

In [9]:
# convert to only show date (do not include time)
dogs_df['Publish Date'] = pd.to_datetime(dogs_df['Publish Date']).dt.date

In [10]:
# Display DataFrame
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current
0,54858447,Boon,adoptable,2022-03-04,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False
1,54802620,Casper,adoptable,2022-03-01,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False
2,55368350,Giacomo (In Foster),adoptable,2022-04-22,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False
3,55179362,Loki,adoptable,2022-04-01,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True
4,55331643,Queen,adoptable,2022-04-18,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False

In [11]:
# show data types for each column
dogs_df.dtypes

Pet ID                 int64
Name                  object
Status                object
Publish Date          object
Organization ID       object
City                  object
State                 object
Breed                 object
Age                   object
Gender                object
Size                  object
Coat                  object
Spayed or Neutered      bool
House Trained           bool
Special Needs           bool
Shots Current           bool
dtype: object

In [12]:
# Convert Publish Date Column to datetime object again
dogs_df['Publish Date'] = pd.to_datetime(dogs_df['Publish Date'], format="%Y/%m/%d", errors = 'coerce')

In [13]:
# show data types of each column
dogs_df.dtypes

Pet ID                         int64
Name                          object
Status                        object
Publish Date          datetime64[ns]
Organization ID               object
City                          object
State                         object
Breed                         object
Age                           object
Gender                        object
Size                          object
Coat                          object
Spayed or Neutered              bool
House Trained                   bool
Special Needs                   bool
Shots Current                   bool
dtype: object

In [14]:
# Display DataFrame
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current
0,54858447,Boon,adoptable,2022-03-04,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False
1,54802620,Casper,adoptable,2022-03-01,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False
2,55368350,Giacomo (In Foster),adoptable,2022-04-22,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False
3,55179362,Loki,adoptable,2022-04-01,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True
4,55331643,Queen,adoptable,2022-04-18,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False

In [15]:
# Create variable with date that data was retrieved from API
date_collected = datetime(2022, 4, 26)

In [16]:
# Create a column for Date Collected
dogs_df['Date Collected'] = date_collected

In [17]:
# show data types for all columns
dogs_df.dtypes

Pet ID                         int64
Name                          object
Status                        object
Publish Date          datetime64[ns]
Organization ID               object
City                          object
State                         object
Breed                         object
Age                           object
Gender                        object
Size                          object
Coat                          object
Spayed or Neutered              bool
House Trained                   bool
Special Needs                   bool
Shots Current                   bool
Date Collected        datetime64[ns]
dtype: object

In [18]:
# create a new column for days available subtracting publish date from date collected
dogs_df['Days Available'] = (dogs_df['Date Collected'] - dogs_df['Publish Date'])

In [19]:
# display DataFrame
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current,Date Collected,Days Available
0,54858447,Boon,adoptable,2022-03-04,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False,2022-04-26,53 days
1,54802620,Casper,adoptable,2022-03-01,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False,2022-04-26,56 days
2,55368350,Giacomo (In Foster),adoptable,2022-04-22,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False,2022-04-26,4 days
3,55179362,Loki,adoptable,2022-04-01,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True,2022-04-26,25 days
4,55331643,Queen,adoptable,2022-04-18,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False,2022-04-26,8 days

In [20]:
# show data types for all columns
dogs_df.dtypes

Pet ID                          int64
Name                           object
Status                         object
Publish Date           datetime64[ns]
Organization ID                object
City                           object
State                          object
Breed                          object
Age                            object
Gender                         object
Size                           object
Coat                           object
Spayed or Neutered               bool
House Trained                    bool
Special Needs                    bool
Shots Current                    bool
Date Collected         datetime64[ns]
Days Available        timedelta64[ns]
dtype: object

In [21]:
# convert Days Available column to integer
dogs_df['Days Available'] = pd.to_numeric(dogs_df['Days Available'].dt.days, downcast='integer')

In [22]:
# Display DataFrame
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current,Date Collected,Days Available
0,54858447,Boon,adoptable,2022-03-04,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False,2022-04-26,53
1,54802620,Casper,adoptable,2022-03-01,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False,2022-04-26,56
2,55368350,Giacomo (In Foster),adoptable,2022-04-22,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False,2022-04-26,4
3,55179362,Loki,adoptable,2022-04-01,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True,2022-04-26,25
4,55331643,Queen,adoptable,2022-04-18,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False,2022-04-26,8

In [23]:
dogs_df['Breed'].value_counts()

Mixed Breed                            251
Pit Bull Terrier                       169
Labrador Retriever                      82
Terrier                                 29
German Shepherd Dog                     27
Shepherd                                20
American Bulldog                        19
Boxer                                   19
Chihuahua                               19
American Staffordshire Terrier          17
Beagle                                  10
Great Pyrenees                           9
Pointer                                  9
Hound                                    8
Australian Shepherd                      7
Staffordshire Bull Terrier               7
Border Collie                            7
Australian Cattle Dog / Blue Heeler      6
Bull Terrier                             6
Husky                                    6
Dachshund                                6
Cane Corso                               6
Retriever                                5
Black Mouth Cur                          5
Black Labrador Retriever                 5
Jack Russell Terrier                     4
Great Dane                               3
Siberian Husky                           3
Shar-Pei                                 3
Shih Tzu                                 3
Weimaraner                               3
Catahoula Leopard Dog                    3
Chocolate Labrador Retriever             3
Rottweiler                               3
Carolina Dog                             2
Whippet                                  2
Schnauzer                                2
Chow Chow                                2
Pug                                      2
Basset Hound                             2
Mastiff                                  2
Australian Kelpie                        2
Yellow Labrador Retriever                2
English Bulldog                          2
Rat Terrier                              2
Labradoodle                              1
Greyhound                                1
Dutch Shepherd                           1
Presa Canario                            1
Standard Poodle                          1
Aussiedoodle                             1
Coonhound                                1
Beauceron                                1
Manchester Terrier                       1
Italian Greyhound                        1
Pomeranian                               1
Cocker Spaniel                           1
Chiweenie                                1
Yorkshire Terrier                        1
Ibizan Hound                             1
Mountain Cur                             1
Doberman Pinscher                        1
Miniature Pinscher                       1
Boerboel                                 1
Bullmastiff                              1
Shetland Sheepdog / Sheltie              1
Black and Tan Coonhound                  1
American Bully                           1
Akita                                    1
Brittany Spaniel                         1
White German Shepherd                    1
Schnoodle                                1
English Pointer                          1
Name: Breed, dtype: int64

In [24]:
# Merge 'American Bully' with 'American Bulldog'
dogs_df.loc[dogs_df['Breed'] == 'American Bully', 'Breed'] = 'American Bulldog'

In [25]:
# Merge 'Siberian Husky' with 'Husky'
dogs_df.loc[dogs_df['Breed'] == 'Siberian Husky', 'Breed'] = 'Husky'

In [26]:
# Confirm successful merge
dogs_df['Breed'].value_counts()

Mixed Breed                            251
Pit Bull Terrier                       169
Labrador Retriever                      82
Terrier                                 29
German Shepherd Dog                     27
Shepherd                                20
American Bulldog                        20
Chihuahua                               19
Boxer                                   19
American Staffordshire Terrier          17
Beagle                                  10
Great Pyrenees                           9
Pointer                                  9
Husky                                    9
Hound                                    8
Australian Shepherd                      7
Staffordshire Bull Terrier               7
Border Collie                            7
Australian Cattle Dog / Blue Heeler      6
Dachshund                                6
Bull Terrier                             6
Cane Corso                               6
Retriever                                5
Black Mouth Cur                          5
Black Labrador Retriever                 5
Jack Russell Terrier                     4
Great Dane                               3
Shar-Pei                                 3
Rottweiler                               3
Shih Tzu                                 3
Weimaraner                               3
Catahoula Leopard Dog                    3
Chocolate Labrador Retriever             3
Carolina Dog                             2
Whippet                                  2
Schnauzer                                2
Chow Chow                                2
English Bulldog                          2
Pug                                      2
Basset Hound                             2
Mastiff                                  2
Australian Kelpie                        2
Yellow Labrador Retriever                2
Rat Terrier                              2
Greyhound                                1
Labradoodle                              1
Presa Canario                            1
Aussiedoodle                             1
Standard Poodle                          1
Beauceron                                1
Coonhound                                1
Dutch Shepherd                           1
Italian Greyhound                        1
Pomeranian                               1
Manchester Terrier                       1
Cocker Spaniel                           1
Chiweenie                                1
Yorkshire Terrier                        1
Ibizan Hound                             1
Mountain Cur                             1
Doberman Pinscher                        1
Miniature Pinscher                       1
Boerboel                                 1
Bullmastiff                              1
Shetland Sheepdog / Sheltie              1
Black and Tan Coonhound                  1
Akita                                    1
Brittany Spaniel                         1
White German Shepherd                    1
Schnoodle                                1
English Pointer                          1
Name: Breed, dtype: int64

In [27]:
# Evaluate Age column
dogs_df['Age'].value_counts()

Adult     495
Young     225
Baby       68
Senior     44
Name: Age, dtype: int64

In [28]:
# Confirm we have 832 values
dogs_df['Age'].value_counts().sum()

832

In [29]:
# Evaluate Gender column
dogs_df['Gender'].value_counts()

Male      459
Female    373
Name: Gender, dtype: int64

In [30]:
# Confirm we have 832 values
dogs_df['Gender'].value_counts().sum()

832

In [31]:
# Evaluate Size column
dogs_df['Size'].value_counts()

Large          371
Medium         358
Small           92
Extra Large     11
Name: Size, dtype: int64

In [32]:
# Confirm we have 832 values
dogs_df['Size'].value_counts().sum()

832

In [33]:
# Evaluate Coat column
dogs_df['Coat'].value_counts()

Short     112
Medium     21
Long       13
Wire        1
Curly       1
Name: Coat, dtype: int64

In [34]:
# Confirm we have 832 values
dogs_df['Coat'].value_counts().sum()

148

In [35]:
# Drop Coat column due to insufficient data
dogs_df.drop('Coat', axis=1, inplace=True)

In [36]:
# Display DataFrame
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Spayed or Neutered,House Trained,Special Needs,Shots Current,Date Collected,Days Available
0,54858447,Boon,adoptable,2022-03-04,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,True,False,False,False,2022-04-26,53
1,54802620,Casper,adoptable,2022-03-01,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,True,False,False,False,2022-04-26,56
2,55368350,Giacomo (In Foster),adoptable,2022-04-22,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,True,False,False,False,2022-04-26,4
3,55179362,Loki,adoptable,2022-04-01,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,True,True,True,True,2022-04-26,25
4,55331643,Queen,adoptable,2022-04-18,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,False,False,False,False,2022-04-26,8

In [37]:
# Evaluate Status column
dogs_df['Status'].value_counts()

adoptable    832
Name: Status, dtype: int64

In [38]:
# Evaluate Organization ID column
dogs_df['Organization ID'].value_counts()

GA423     157
GA217     115
GA357      37
GA66       36
GA926      32
GA335      29
GA299      22
GA914      21
GA508      17
GA862      16
GA99       13
GA718      13
GA553      12
GA665      11
GA918      11
GA152      10
GA1020      9
GA535       8
GA76        8
GA204       8
GA1025      8
GA181       8
GA257       7
GA627       7
GA793       7
GA251       7
GA247       7
GA733       7
GA219       6
GA787       6
GA150       6
GA620       6
GA75        6
GA680       6
GA168       6
GA902       5
GA667       5
GA52        5
GA319       5
GA174       5
GA537       5
GA857       5
GA163       4
GA1028      4
GA216       4
GA70        4
GA979       4
GA827       4
GA244       4
GA477       3
GA809       3
GA997       3
GA41        3
CA2261      3
GA854       2
NY966       2
GA83        2
GA377       2
GA836       2
GA945       2
GA830       2
GA418       2
GA59        2
GA941       2
GA232       2
AL48        2
GA340       2
GA697       2
GA652       2
GA144       2
GA929       1
GA250       1
GA698       1
GA972       1
GA822       1
GA336       1
GA1026      1
GA764       1
GA994       1
GA207       1
GA930       1
GA662       1
GA1042      1
GA132       1
GA788       1
GA919       1
GA993       1
GA875       1
GA467       1
GA323       1
GA256       1
GA08        1
GA966       1
GA18        1
GA986       1
GA745       1
GA890       1
NH77        1
GA160       1
GA923       1
GA353       1
GA999       1
GA116       1
GA194       1
GA461       1
NY712       1
GA619       1
Name: Organization ID, dtype: int64

In [39]:
# Confirm we have 832 values
dogs_df['Organization ID'].value_counts().sum()

832

In [40]:
# Check for any remaining null values
dogs_df.isnull().sum().sum()

0

In [41]:
dogs_df.to_csv('dogs_clean.csv', index=False)