# Do a save as of this notebook and remove or update this markdown cell after the new notebook is saved.

In [4]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [5]:
# read in CSV
dogs_df = pd.read_csv('../data_collection/data_output/georgia_dogs.csv')

In [6]:
# preview dataframe
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Coat,Spayed or Neutered,House Trained,Special Needs,Shots Current
0,54858447,Boon,adoptable,2022-03-04T18:10:57+0000,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,NaN,True,False,False,False
1,54802620,CASPER,adoptable,2022-03-01T19:01:22+0000,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,NaN,True,False,False,False
2,55368350,Giacomo (in foster),adoptable,2022-04-22T00:06:14+0000,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,NaN,True,False,False,False
3,55179362,Loki,adoptable,2022-04-01T16:52:47+0000,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,Short,True,True,True,True
4,55331643,QUEEN,adoptable,2022-04-18T16:56:32+0000,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,NaN,False,False,False,False