# Do a save as of this notebook and remove or update this markdown cell after the new notebook is saved.

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [2]:
# read in CSV
dogs_df = pd.read_csv('dogs_clean.csv')

In [3]:
# preview dataframe
dogs_df.head()

,Pet ID,Name,Status,Publish Date,Organization ID,City,State,Breed,Age,Gender,Size,Spayed or Neutered,House Trained,Special Needs,Shots Current,Date Collected,Days Available
0,54858447,Boon,adoptable,2022-03-04,GA862,Athens,GA,Mixed Breed,Adult,Male,Large,True,False,False,False,2022-04-25,52
1,54802620,Casper,adoptable,2022-03-01,GA99,Macon,GA,Mixed Breed,Young,Male,Medium,True,False,False,False,2022-04-25,55
2,55368350,Giacomo (In Foster),adoptable,2022-04-22,GA335,Atlanta,GA,Mixed Breed,Young,Male,Small,True,False,False,False,2022-04-25,3
3,55179362,Loki,adoptable,2022-04-01,GA340,Tucker,GA,Labrador Retriever,Adult,Male,Large,True,True,True,True,2022-04-25,24
4,55331643,Queen,adoptable,2022-04-18,GA217,Atlanta,GA,Pit Bull Terrier,Young,Female,Medium,False,False,False,False,2022-04-25,7